*.hi
*.o
*.sqlite3
*.sw[op]
.DS_Store
.cabal-sandbox
.hsenv*
cabal-dev/
cabal.sandbox.config
config/client_session_key.aes
dist*
report.html
static/combined/
static/tmp/
yesod-devel/

# Dynamic configuration file
env.sh
